@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, #cdb79fc3, #cdb79f81, #cdb79f71),
    url(./img/MASTER\ BEDROOM.jpeg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header {
  margin: 0px 30px;
  display: flex;
  padding-top: 20px;

  > span {
    margin: left;
    > a {
      text-decoration: none;
      color: #2d2d2d;
      font-size: 46px;
      font-weight: bold;
      font-family: Montserrat;
    }
  }
  > nav {
    margin: auto;
    width: 750px;
    > ul {
      display: flex;
      text-align: center;
      > li {
        list-style: none;
        padding: 6px 20px;
        position: relative;

        > a {
          text-decoration: none;
          position: relative;
          color: #000;
          font-size: 20px;
          font-family: Montserrat;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 100%;
          border-bottom: 2px solid rgb(66, 62, 62);
          background: linear-gradient(
            rgba(190, 116, 74, 0.384),
            rgba(255, 255, 255, 0.24),
            rgba(190, 116, 74, 0.384)
          );
          transition: 0.5s;
        }
        &:hover {
          &::before {
            width: 100%;
            border-radius: 5px;
            border-left: 2px solid rgb(66, 62, 62);
          }
        }
      }
    }
  }
  .logo {
    float: right;
    text-align: center;

    > ul {
      display: flex;
      margin: auto;
      float: right;
      transform: translateY(100%);
      > li {
        list-style: none;
        width: 35px;

        > a {
          text-decoration: none;
          color: #000;
          transition: 0.5s;
          border-radius: 50%;
          padding: 5px;
          text-align: center;

          &:hover {
            color: white;
            background-color: #856147;
          }
        }
      }
    }
  }
}
